*{
  margin: 0;
  padding: 0;
}
.container{
  width: 1140px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
  transition: .2s;
  border: none;
}
body{
  font-family: "Rubik",sans-serif;

}